section {
  margin: auto;
  width: 580px;
}

section div {
  display: inline-block;
  height: 180px;
  width: 180px;
  margin: 5px;
  background-color: cadetblue;
  text-align: center;
  vertical-align: middle;
  line-height: 180px;
  font-family: 'Fredoka One', cursive;
  font-size: 120px;
  color: floralwhite;
}

h1 {
  text-align: center;
  font-family: 'Mali', cursive;
  font-size: 30px;
  color: darkcyan;
  margin: 20px;

}

button {
  margin: 10px auto;
  width: 200px;
  font-family: 'Mali', cursive;
  font-size: 20px;
  display: block;
}

.disable {
  pointer-events: none;
  background-color: darkgrey;
}

.clicked {
  pointer-events: none;
}
